@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('~/assets/fonts/Quicksand/static/Quicksand-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('~/assets/fonts/Quicksand/static/Quicksand-Bold.ttf') format('truetype');
}